#navbar {
    overflow: hidden;
    background-color: rgb(100, 98, 98);
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #e3cade;
    text-align: right;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  
  
 
  /*this is a working sample taken from W3schools